{% extends 'data/base.html' %}
{% load static %}

{% block title %}Django Ajax CRUD{% endblock %}

{% block content %}
<div class="container">
    <h1></h1>
    <div class="row">
      <div class="col-md-4 ">
        <h3>ADD Record</h3>
        <form id="addRecord" action="">
          <div class="form-group">
            <input class="form-control" type="text" name="sapId" placeholder="SapId" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="hostName" placeholder="HostName" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="number" name="loopBack" min="10" max="100" placeholder="LoopBack" required>
          </div>
         <div class="form-group">
            <input class="form-control" type="number" name="macAddress" min="10" max="100" placeholder="MAC Address" required>
          </div>
          <button class="btn btn-primary form-control" type="submit">SUBMIT</button>
        </form>
      </div>
      <div class="col-md-8">
        <h3>Router Data</h3>
        <table id="userTable" class="table table-striped">
          <tr>
            <th>SapId</th>
            <th>Host Name</th>
            <th>LoopBack</th>
            <th>Mac Address</th>
            <th></th>
            <th></th>
          </tr>
          {% if RouterRecord %}

          {% for user in RouterRecord %}
          <tr id="user-{{user.id}}">
              <td class="userName userData" name="sapId">{{user.sapId}}</td>
              <td class="userAddress userData" name="hostName">{{user.hostName}}</td>
              <td class="userAge userData" name="loopBack">{{user.loopBack}}</td>
              <td class="usermacAddress userData" name="macAddress">{{user.macAddress}}</td>
              <td align="center">
                  <button class="btn btn-success form-control" onClick="editUser({{user.id}})" data-toggle="modal" data-target="#myModal")">EDIT</button>
              </td>
              <td align="center">
                  <button class="btn btn-danger form-control" onClick="deleteUser({{user.id}})">DELETE</button>
              </td>
          </tr>
          {% endfor %}
          {% else %}
            No Records
          {% endif %}
        </table>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title" id="myModalLabel">Update Record</h4>
        </div>
        <form id="updateUser" action="">
        <div class="modal-body">
            <input class="form-control" id="form-id" type="hidden" name="formId"/>
            <label for="name">sapId</label>
            <input class="form-control" id="form-sapId" type="text" name="formSapId"/>
            <label for="address">hostName</label>
            <input class="form-control" id="form-hostName" type="text" name="formhostName"/>
            <label for="age">loopBack</label>
            <input class="form-control" id="form-loopBack" type="number" name="formLoopBack" min=10 max=100/>
             <label for="age">macAddress</label>
            <input class="form-control" id="form-macAddress" type="number" name="formMacAddress" min=10 max=100/>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" >Save changes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
{% block javascript %}
<script>
$("form#addRecord").submit(function() {
    var sapId = $('input[name="sapId"]').val().trim();
    var hostName = $('input[name="hostName"]').val().trim();
    var loopBack = $('input[name="loopBack"]').val().trim();
    var macAddress = $('input[name="macAddress"]').val().trim();
    if (sapId && hostName && loopBack && macAddress) {
        $.ajax({
            url: '{% url "create" %}',
            data: {
                'sapId': sapId,
                'hostName': hostName,
                'loopBack': loopBack,
                'macAddress': macAddress
            },
            dataType: 'json',
            success: function (data) {
                if (data.RouterRecord) {
                  appendToUsrTable(data.RouterRecord);
                }
            }
        });
      } else {
        alert("All fields must have a valid value.");
    }
    $('form#addUser').trigger("reset");
    return false;
});
function appendToUsrTable(user) {
  $("#userTable > tbody:last-child").append(`
        <tr id="user-${user.id}">
            <td class="userName" name="sapId">${user.sapId}</td>
            '<td class="userAddress" name="hostName">${user.hostName}</td>
            '<td class="userAge" name="loopBack">${user.loopBack}</td>
            '<td class="usermacAddress" name="macAddress">${user.macAddress}</td>
            '<td align="center">
                <button class="btn btn-success form-control" onClick="editUser(${user.id})" data-toggle="modal" data-target="#myModal")">EDIT</button>
            </td>
            <td align="center">
                <button class="btn btn-danger form-control" onClick="deleteUser(${user.id})">DELETE</button>
            </td>
        </tr>
    `);
}



$("form#updateUser").submit(function() {
    var idInput = $('input[name="formId"]').val();
    var namesapId = $('input[name="formSapId"]').val();
    var namehostName = $('input[name="formhostName"]').val();
    var nameloopBack = $('input[name="formLoopBack"]').val();
    var namemacAddress = $('input[name="formMacAddress"]').val();
    console.log(namesapId)
    console.log(namehostName)
    console.log(nameloopBack)
    console.log(namemacAddress)
    if (namesapId && namehostName && nameloopBack && namemacAddress) {
        // Create Ajax Call
        $.ajax({
            url: '{% url "update" %}',
            data: {
                'id': idInput,
                'sapId': namesapId,
                'hostName': namehostName,
                'loopBack': nameloopBack,
                'macAddress': namemacAddress
            },
            dataType: 'json',
            success: function (data) {
                if (data.RouterRecord) {
                console.log(data)
                  updateToUserTabel(data.RouterRecord);
                }
            }
        });
       } else {
        alert("All fields must have a valid value.");
    }
    $('form#updateUser').trigger("reset");
    $('#myModal').modal('hide');
    return false;
});

// Update Django Ajax Call
function editUser(id) {
  if (id) {
    tr_id = "#user-" + id;
    sapId = $(tr_id).find(".userName").text();
    hostName = $(tr_id).find(".userAddress").text();
    macAddress = $(tr_id).find(".usermacAddress").text();
    loopBack = $(tr_id).find(".userAge").text();
    $('#form-id').val(id);
    $('#form-sapId').val(sapId);
    $('#form-hostName').val(hostName);
    $('#form-loopBack').val(loopBack);
    $('#form-macAddress').val(macAddress);
  }
}
function updateToUserTabel(user){
    $("#userTable #user-" + user.id).children(".userData").each(function() {
        var attr = $(this).attr("name");
        if (attr == "sapId") {
          $(this).text(user.sapId);
        } else if (attr == "hostName") {
          $(this).text(user.hostName);
        }else if (attr == "loopBack") {
          $(this).text(user.loopBack);
        } else {
          $(this).text(user.macAddress);
        }
      });
}


function deleteUser(id) {
  var action = confirm("Are you sure you want to delete this router record?");
  if (action != false) {
    $.ajax({
        url: '{% url "delete" %}',
        data: {
            'id': id,
        },
        dataType: 'json',
        success: function (data) {
            if (data.deleted) {
              $("#userTable #user-" + id).remove();
            }
        }
    });
  }
}
</script>
{% endblock javascript %}